body{
  font-family:segoe print; 
}
h1{
  background-color:	#227700;
  text-align: center;
  font-weight: 600;
  color: white;
  font-family:segoe print; 
}
preface{
  font-family:segoe print; 
  font-weight: 300;
  color: black;

}
body {
    padding-top: 70px;
    background-color:#BBFFEE;
}


